:root {
  --body-bachground: #ffffff;
  --button-background: #64b5f6;
  --button-color-one: #373737;
  --pages-background: #ebebeb;
  --text-color-one: #646464;
  --text-color-two: #383738;
  --button-color-two: #4caf50;
  --card-background: #cdcdcd;
  --dager-color: #e53935;
  --background-blue: #c3e2fc;
  --background-one: #f8f3ef;
  --background-two: #383738;
  --red-one: #f44336;
  --button-color-three: #fff;
  --card--color: #fff
  ; }

@font-face {
  font-family: "IranSans";
  src: url("./../font/ir_sans.ttf"); }

* {
  margin: 0;
  padding: 0; }

*,
*:after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "IranSans";
  background-color: var(--body-bachground);
  margin: 0;
  padding: 0; }

.btn, .btn:link, .btn:visited {
  background-color: var(--button-color-three);
  padding: 1.9rem 3rem;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 1.3rem;
  font-weight: 700; }

.btn__mainpage {
  border-color: var(--red-one);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.1rem 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn__mainpage-icon {
    height: 3.5rem; }
  .btn__mainpage-text {
    font-size: 1.6rem;
    flex: 1;
    color: var(--button-color-one);
    margin-left: 3rem; }

.btn__deliveryPayment {
  background-color: brown;
  padding: 1.5rem 3rem; }

.cards {
  width: 100%;
  height: 30rem;
  background-color: var(--card--color);
  border-radius: 1rem; }
  .cards__deliveryPayment {
    display: flex;
    flex-direction: column; }
    .cards__deliveryPayment:not(:first-child) {
      margin-top: 1.5rem; }

.main {
  width: 100%;
  padding: 0 8rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.deliveryPayment {
  background-color: orangered;
  width: 100%;
  min-height: 100vh;
  padding: 2.3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1; }
  .deliveryPayment__text {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    padding: 0 1rem; }
    .deliveryPayment__text-name {
      flex: .5 0 0;
      color: var(--text-color-one); }
      .deliveryPayment__text-name-value {
        flex: 3 0 0; }
    .deliveryPayment__text-charge {
      flex: .9 0 0;
      color: var(--text-color-one); }
      .deliveryPayment__text-charge-value {
        flex: 2 0 0;
        color: var(--red-one);
        font-size: 1.8rem; }
        .deliveryPayment__text-charge-value span {
          color: #000;
          font-size: 1.2rem;
          margin-right: 1rem; }
    .deliveryPayment__text-mobile {
      flex: 1 0 0;
      color: var(--text-color-one); }
      .deliveryPayment__text-mobile-value {
        flex: .3 0 0; }
    .deliveryPayment__text-iban {
      flex: 1 0 0;
      color: var(--text-color-one); }
      .deliveryPayment__text-iban-value {
        flex: .3 0 0; }
    .deliveryPayment__text-bankAccount {
      flex: 1 0 0;
      color: var(--text-color-one); }
      .deliveryPayment__text-bankAccount-value {
        flex: .3 0 0; }
    .deliveryPayment__text-creditCardNumber {
      flex: 1 0 0;
      color: var(--text-color-one); }
      .deliveryPayment__text-creditCardNumber-value {
        flex: .3 0 0; }
