.reminder-sms-button {
    border-radius: 11px;
    background-color: var(--button-color-two);
    font-size: 1.1rem;
}

.delivery-sms-button {
    border-radius: 11px;
    font-size: 1.1rem;
}

.cancel-order-btn {
    border-radius: 11px;
    font-size: 1.1rem;
}