.textOptions {
  background-color: transparent;
  /* font-size: 2rem; */
  color: #fff;
  border: none;
}
.dimeter-placeholder{
  position: relative;
  top: 5vh;
  left: -18vw;
  font-weight: normal;
}
