.btn{
    
    &,
    &:link,
    &:visited{
        background-color: var(--button-color-three);
        padding: 1.9rem 3rem;
        text-decoration: none;
        border-radius: 1rem;
        font-size: 1.3rem;
        font-weight: 700;
        
        
    }
    &__mainpage{
        
        border-color: var(--red-one);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.1rem 2rem;
        box-shadow: 0 1rem 2rem rgba(#000,.2);


        &-icon{

            height: 3.5rem;
        }

        &-text{
           font-size: 1.6rem;
           flex: 1;
           color: var(--button-color-one);
           margin-left: 3rem;
        }


    }
}