

:root{
    --body-bachground: #ffffff;
    --button-background: #64b5f6;
    --button-color: #373737;
}

@font-face {
    font-family: 'IranSans';
    src: url('./../font/ir_sans.ttf');  
}

body{
    font-family: 'IranSans';
    background-color: var(--body-bachground);
}

#triangle-up {
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    border-left: 368px solid var(--button-color);
    border-top: 37px solid var(--button-color);
    border-bottom: 56px solid transparent;
}


#triangle-down {
    right: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-right: 368px solid var(--button-color);
    border-bottom: 59px solid var(--button-color);
    border-top: 49px solid transparent;
}

