

:root{
    --body-bachground: #ffffff;
    --button-background: #64b5f6;
    --button-color-one: #373737;
    --pages-background: #ebebeb;
    --text-color-one: #646464;
    --text-color-two: #383738;
    --button-color-two: #4caf50;
    --card-background: #cdcdcd;
}

@font-face {
    font-family: 'IranSans';
    src: url('./../font/ir_sans.ttf');  
}

body{
    font-family: 'IranSans';
    background-color: var(--body-bachground);
}

#triangle-up {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    border-left: 368px solid var(--button-color-one);
    border-right: 368px solid transparent;
    border-top: 56px solid var(--button-color-one);
    border-bottom: 56px solid transparent;
}


#triangle-down {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-right: 763px solid var(--button-color-one);
    border-bottom: 34px solid var(--button-color-one);
    border-top: 114px solid transparent;
}

.navbar-brand{
    font-size: 14px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.my-nav{
    background-color: var(--button-color-one);
    direction: ltr;
}

.navbar-expand .navbar-nav .nav-link {
    padding-left: 1.5rem;
}


