.reminder-sms-button {
    border-radius: 11px;
    background-color: var(--button-color-two);
    font-size: 1.1rem;
    width: 30%;
    position: relative;
    top: -3vh;
}

.delivery-sms-button {
    border-radius: 11px;
    font-size: 1.1rem;
    width: 45%;
    position: relative;
    top: -3vh;
}

.cancel-order-btn {
    border-radius: 11px;
    font-size: 1.1rem;
    width: 35%;
    position: relative;
    top: -3vh;
}