.setting-order-btn {
    width: 60vw;
    height: 8vh;
    background-color: var(--button-color-one);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--button-color-one);
    
    margin: auto;
}

.setting-order-btn:focus {
    background-color: var(--button-color-one);
    border: none;
}

.setting-btn-row {
    margin: 5vh 0 5vh 0;
}

.order-setting {
    height: 90vh;
}

.edit-sms-icon {
    position: relative;
    top: 1vh;
    right: 1vh;
}

.setting-logo {
    position: relative;
    display: inline;
}

.sms-status-label {
    font-weight: bold;
    font-size: 0.9rem;
}

.sms-text-container {
    border-radius: 10px;
    min-height: 10vh;
    max-height: fit-content;
}

.sms-text-container p {
    font-size: .9rem;
    color: var(--text-color-one)
}

.edit-sms-submit-btn {
    width: 80vw;
    margin: auto;
    display: block;
    border-radius: 11px;
    background-color: var(--button-background);
    color: black;
    font-weight: bold;
    border: none;
    position: relative;
    top: 5vh;
}

.edit-sms-submit-btn:active {
    background-color: var(--button-background);
}

.edit-sms-submit-btn:focus {
    background-color: var(--button-background);
    color: black;
}

.dropdown-toggle {
    border-radius: 9px;
    border: none;
    width: 70%;
    color: var(--text-color-one);
    background-color: white;
    font-size: .9rem;
    height: 4.5vh;
}


.dropdown-toggle:after {
    position: relative;
    right: 20%;
    color: black;
}

.order-setting-field {
    border-radius: 9px;
    border: none;
    width: 70%;
    color: var(--text-color-one);
    background-color: white;
    font-size: .9rem;
    height: 4.5vh;
}

input::-webkit-input-placeholder {
    color: black !important;
    position:absolute;
    left: 10%;

}

.my-placeholder {
    font-size: .8rem;
    display: inline;
}

.order-setting-field-label {
    font-size: 0.85rem;
    font-weight: bold;
}

.test {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.test:checked ~ .check::after {
    opacity: 1;
    transform: scale(1);
}

.check {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}

.check::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 12px;
    transform: scale(0);
    background-size: 100%;
    background-image: url("../images/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition-delay: 0.2s !important;
    transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}
