
.deliveryPayment{
    background-color: orangered;
    width: 100%;
    min-height: 100vh;
    padding: 2.3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // overflow: auto;
    flex: 1;
}