.determine-container {
  height: 80vh !important;
}
.logo--desktop {
  position: absolute;
  right: 50px;
  top: 50px;
}
.determine-btn-row--desktop {
  position: relative;
}
.determine-btn-employee--desktop {
  border-radius: 8px;
  color: var(--button-color-one);
  font-weight: bold;
  background-color: var(--background-blue);
}
.determine-btn-employer--desktop {
  border-radius: 8px;
  color: var(--button-color-one);
  font-weight: bold;
  background-color: var(--button-background);
}
.verification-btn--desktop {
  font-size: 1rem;
  border-radius: 11px;
  border: none;
  font-weight: bold;
  color: var(--button-color-one);
  background-color: var(--button-background);
}
.employee-register-link--desktop a {
  color: var(--button-background);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.95rem;
  position: relative;
  top: 2vh;
}
.employee-register-submit-btn--desktop {
  color: var(--button-color-one);
  background-color: var(--button-background);
  border: none;
  border-radius: 11px;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "IranSans";
}
