:root {
    --body-bachground: #ffffff;
    --pages-background: #ebebeb;
    --text-color-one: #646464;
    --text-color-two: #383738;
    --card-background: #cdcdcd;
    --dager-color: #e53935;
    --background-blue: #c3e2fc;
    --background-one: #f8f3ef;
    --background-two: #383738;
    --red-one: #f44336;
    
    --button-background: #64b5f6;
    --button-color-one: #373737;
    --button-color-two: #4caf50;
    --button-color-three: #fff;
    
    --card--color: #fff

  }
  
  @font-face {
    font-family: "IranSans";
    src: url("./../font/ir_sans.ttf");
  }
  
  
  *{
    
      margin: 0;
      padding: 0;
    }
    
    *,
    *:after,
    *::before{
    
    box-sizing: inherit;
    
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
  font-family: "IranSans";
  background-color: var(--body-bachground);
  margin: 0;
  padding: 0;
}